
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/jae.jpg" alt="Jaenudin" class="img-thumbnail rounded-circle" width="100px" height="100px">
            <h1 class="display-4">Jaenudin</h1>
            <p class="lead">Security Guard | Programmer</p>
        </div>
    </div>
</div>

